# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# PyInstaller
*.manifest
*.spec

# Logs and temp files
*.log
*.tmp

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

